<template>
	<div>
		<div class="row">
			<button class="button primary" data-bind="click: add">添加集团</button>
			<button class="button" data-bind="enable: canDelete, css: { 'disabled': !canDelete() }">删除</button>
		</div>
		<table class="list-table" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th width="40px"><input type="checkbox" name="select"/></th>
                    <th>集团名称</th>
                    <th>人数</th>
                    <th>管理员</th>
                    <th width="150px">操作</th>
                </tr>
            </thead>
            <tbody>
            		<!-- ko foreach: list -->
                <tr>
                		<td data-bind="css:{ 'highlight': $index() % 2 == 1 }"><input type="checkbox" name="select" data-bind="value: tegr_id"/></td>
                    <td data-bind="text: tegr_name, css:{ 'highlight': $index() % 2 == 1 }"></td>
                    <td data-bind="text: totalCount, css:{ 'highlight': $index() % 2 == 1 }"></td>
                    <td data-bind="text: name, css:{ 'highlight': $index() % 2 == 1 }"></td>
                    <td data-bind="css:{ 'highlight': $index() % 2 == 1 }">
                        <a class="edit" data-bind="click: $parent.edit">编辑</a>
                        <a class="del" data-bind="click: $parent.del">删除</a>
                        <a class="sub" data-bind="attr: { rpath: '/user/bloc/mgr/school/' + tegr_id, rtitle: tegr_name }">管理</a>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: list().length == 0 -->
                <tr>
                		<td colspan="20" class="nodata">
                			暂无数据
                		</td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <form style="width: 380px;display: none;">
	        <input type="hidden" name="user_id" data-bind="value: formData().user_id" />
	        <input type="hidden" name="tegr_id" data-bind="value: formData().tegr_id" />
	        <div class="row line">
	            <label class="field">集团名称</label>
	            <input class="input" type="text" name="tegr_name" placeholder="请输入集团名称" data-bind="value: formData().tegr_name" require />
	        </div>
	    </form>
	</div>
</template>
<script>
	function(){
		var el = $(this.$el);
		var user = this.$user;
		var emptyData = { tegr_id: 0, user_id: user.user_id, tegr_name: "" };
		var vm = {
			canDelete: ko.observable(false),
			list: ko.observableArray([]),
			formData: ko.observable(emptyData),
			
			add: onAdd,
			edit: onEdit,
			del: onDel,
			sub: onSub
		}
		ko.applyBindings(vm, this.$el);
		queryData();
		
		function queryData() {
			App.get("tegrApi/getTegrList", { user_id: user.user_id }, function(data) {
				data && vm.list(data);
			}, '加载集团用户列表');
		}
		
		var dataGrid = new DataGrid($(".list-table", el));
		dataGrid.change(function(evt) {
			vm.canDelete(evt.result);
		});
		
		var form = $("form", el);
		function openDailog(title) {
            layer.open({
                title: title,
                type: 1,
                content: form,
                area: "400px",
                btn: ["保存", "取消 "],
                yes: function (index) {
                    layer.close(index);
                    var formData = App.serialize(form);
                    
                    if(!formData) {
                    		return;
                    }
                    
                    App.post("tegrApi/addTegr", formData, function (data) {
                    		if(data) {
                    			layer.close(index);
                        		queryData();
                        }
                    }, "保存");
                }
            });
        }
		
		function onEdit(obj) {
			vm.formData({ user_id: user.user_id, tegr_id: obj.tegr_id, tegr_name: obj.tegr_name });
			openDailog("编辑用户");
		}
		
		function onAdd() {
			vm.formData(emptyData);
			openDailog("添加用户");
		}
		
		function onDel() {
			var delete_tegr_id = this.tegr_id;
            layer.confirm('你是否删除当前记录？', {
                btn: ['确定', '不，我再等等'] //按钮
            }, function (index) {
            		layer.close(index);
                App.post("tegrApi/deleteTegr", {
                		user_id: user.user_id,
                		delete_tegr_id: delete_tegr_id
                }, function () {
                		data && queryData();
                }, "删除");
            }, function () {});
		}
		
		function onSub() {
			
		}
	}
</script>
