<template>
	<div>
		<div class="row">
			<button class="button primary" data-bind="click: add">添加用户</button>
			<button class="button" data-bind="enable: canDelete, css: { 'disabled': !canDelete() }">删除</button>
		</div>
		<table class="list-table" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th width="40px"><input type="checkbox" name="select"/></th>
                    <th>姓名</th>
                    <th>角色</th>
                    <th>帐号</th>
                    <th width="120px">操作</th>
                </tr>
            </thead>
            <tbody>
            		<!-- ko foreach: list -->
                <tr>
                		<td data-bind="css:{ 'highlight': $index() % 2 == 1 }"><input type="checkbox" name="select" data-bind="value: user_id"/></td>
                    <td data-bind="text: name, css:{ 'highlight': $index() % 2 == 1 }"></td>
                    <td data-bind="text: App.formatRole(role_type), css:{ 'highlight': $index() % 2 == 1 }"></td>
                    <td data-bind="text: username, css:{ 'highlight': $index() % 2 == 1 }"></td>
                    <td data-bind="css:{ 'highlight': $index() % 2 == 1 }">
                        <a class="edit" data-bind="click: $parent.edit">编辑</a>
                        <a class="del" data-bind="click: $parent.del">删除</a>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: list().length == 0 -->
                <tr>
                		<td colspan="20" class="nodata">
                			暂无数据
                		</td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <form style="width: 380px;display: none;">
        		<input type="hidden" name="user_id" data-bind="value: formData().user_id"/>
	        <div class="row line">
	            <label class="field">用户名</label>
	            <input class="input" type="text" name="username" placeholder="请输入用户名" data-bind="value: formData().username" require/>
	        </div>
	        <div class="row line">
	            <label class="field">昵称</label>
	            <input class="input" type="text" name="name" placeholder="请输入昵称" data-bind="value: formData().name" require/>
	        </div>
	        <div class="row inline">
	            <label class="field">性别</label>
            		<label><input name="sex" type="radio" value="0" data-bind="checked: sex" />男</label>
            		<label><input name="sex" type="radio" value="1" data-bind="checked: sex" />女</label>
	        </div>
	        <div class="row line">
	            <label class="field">生日</label>
	            <input id="endDateTextBox" name="text" data-bind="value: moment(formData().birthay).format('YYYY年MM月DD日')" onclick="WdatePicker({dateFmt:'yyyy年MM月dd日'})"/>
           		<img onclick="WdatePicker({el:'endDateTextBox'})" src="lib/my97/skin/datePicker.gif" width="16" height="22" align="absmiddle"/>
	        </div>
	        <div class="row line">
	            <label class="field">头像</label>
	            <input class="input" type="text" name="avatar" placeholder="请输入头像" data-bind="value: formData().avatar"/>
	        </div>
	        <div class="row line">
	            <label class="field">个性签名</label>
	            <input class="input" type="text" name="remark" placeholder="请输入个性签名" data-bind="value: formData().remark"/>
	        </div>
	    </form>
	</div>
</template>
<script>
	function(){
		var el = $(this.$el);
		var user = this.$user;
		var emptyData = { user_id: 0, username: "", name: "", sex: "", birthay: new Date().getTime(), avatar: "", remark: "" };
		var vm = {
			canDelete: ko.observable(false),
			list: ko.observableArray([]),
			formData: ko.observable(emptyData),
			sex: ko.observable("0"),
			
			add: onAdd,
			edit: onEdit,
			del: onDel
		}
		
		ko.applyBindings(vm, this.$el);
		queryData();
		
		function queryData() {
			App.get("userApi/getAdminList", { user_id: user.user_id }, function(data) {
				data && 	vm.list(data);
			}, "加载系统用户列表");
		}
		
		var dataGrid = new DataGrid($(".list-table", el));
		dataGrid.change(function(evt) {
			vm.canDelete(evt.result);
		});
		
		var form = $("form", el);
		function openDailog(isInsert) {
			var url = (isInsert? "userApi/addAdmin" : "userApi/editUserInfo");
            layer.open({
                title: isInsert ? "新增用户" : "编辑用户",
                type: 1,
                content: form,
                area: "400px",
                btn: ["保存", "取消 "],
                yes: function (index) {
                    var formData = App.serialize(form);
                    
                    if(!formData) {
                    		return;
                    }
                    
                    layer.close(index);
                    
                    App.post(url, formData, function (data) {
                        	data && 	queryData();
                    }, "保存用户");
                }
            });
        }
		
		function onEdit(obj) {
			vm.formData(obj);
			openDailog(false);
		}
		
		function onAdd() {
			vm.formData(emptyData);
			openDailog(true);
		}
		
		function onDel(obj) {
			var delete_user_id = this.user_id;
            layer.confirm('你是否删除当前记录？', {
                btn: ['确定', '不，我再等等'] //按钮
            }, function (index) {
            		layer.close(index);
                App.post("userApi/deleteAdmin", {
                		user_id: user.user_id,
                		delete_user_id: delete_user_id
                }, function (data) {
                		data && queryData();
                }, "删除");
            }, function () {});
		}
	}
</script>
