<template>
	<div>
		<ul class="tab" >
			<!-- ko foreach: tabs -->
			<li class="tab-item" data-bind="attr: { rpath: path }"><a data-bind="text: name, css: { selected: $parent.path() == path }"></a></li>
			<!-- /ko -->
		</ul>
		<router-view class="content"></router-view>
	</div>
</template>
<script>
	function(){
		var el = $(this.$el);
		var user = this.$user;
		var blocId = this.$params.blocId || 0;
		var schoolId = this.$params.schoolId || 0;
		vm = {
			path: ko.observable("/user/bloc/mgr/school/" + blocId),
			tabs: [
				{ name:"班级列表", path: "/user/bloc/schoolmgr/class/" + blocId + "/" + schoolId },
				{ name:"学生列表", path: "/user/bloc/schoolmgr/child/" + blocId + "/" + schoolId }
			]
		}
		ko.applyBindings(vm, this.$el);
		
		this.$router.watch(function(router) {
			if(router.realPath.indexOf("child") > -1) {
				vm.path(vm.tabs[1].path)
			} else {
				vm.path(router.realPath);
			}
		});
	}
</script>
